nav {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    border-radius: 5px;
    border-color: aqua;
    border-style: dashed;
    background-color: pink;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
    border-radius: 5px;
    border-color: aqua;
    border-style: dashed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
  }

  .about-me-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .about-me-text-container {
    max-width: 70%;
  }

  .flower {
    width: 300px;
    height: 200px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    margin-left: 100px;
  }

  .project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
    border: 2px solid aqua;
    border-radius: 10px;
    background-color: #ffeefc;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
  }

  .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #fff0fb;
  }

  .image-project {
    width: 200px;
    height: 200px;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
  }

  .skill {
    background-color: #fff0fb;
    border: 2px solid aqua;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    padding: 10px;
    overflow: hidden;
  }
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  .skill-title {
    font-size: 2rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  .skill[open] summary {
    color: darkblue;
  }
  .skill[open] p{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  .skill p {
    display: none;
    font-size: 0.9rem;
    color: #444;
    padding: 0 10px 10px;
    margin: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }

  @keyframes fadeIn {
    from{opacity: 0; transform: translateY(-5px);}
    to{opacity: 1; transform: translateY(0);}
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details {
    cursor: pointer;
    display: block;
    width: 100%;
  }

  details p {
    display: none;
  }


  ul {
    float: right;
  }
  
  li {
    display: inline-block;
    margin-right: 100px;
    text-align: center;
    background-color: pink;  
    border-radius: 5px;
  }
  
  .nav-a {
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    text-decoration: none;
    font-size: 24px;
    color: white;
  }
  
  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

  .contact-icon i, .contact-icon:link i, .contact-icon:visited i, .contact-icon:active i {
    color: plum;
  }

  .contact-icon i {
    font-size: 3rem;
  }

  .contact-container {
    background-color: #fff0fb;
    border: 2px solid aqua;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    padding: 10px;
    overflow: hidden;
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-left: 330px;
  }

  .contact-text {
    text-align: center;
  }
  

  
/* Begin mobile.*/
@media screen and (max-width: 639px){

}
/* End mobile.*/

/* Begin tablet.*/
@media screen and (min-width: 640px){

}
/* End tablet.*/

/* Begin desktop.*/
@media screen and (min-width: 961px){



}
/* End desktop.*/